.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c2dbf0; /* Blue background */
  }
  
  .login-card {
    width: 400px;
    
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  