
<div class="w-full flex bg-gray-50 sticky items-center justify-between p-4 z-20">
 
  <mat-form-field  class="w-1/6" >
    <mat-label>Sort By</mat-label>
    <mat-select [(value)]="sortKey" (valueChange)="onSortKeyChange()" >
      <mat-option value="name">Name</mat-option>
      <mat-option value="price">Price</mat-option>
      <mat-option value="authorName">Author</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="w-4/6 bg-white h-12 flex gap-2 rounded-sm border border-slate-3 00">
   <div class="bg-gray-100 w-16 flex items-center justify-center">
    <mat-icon>search</mat-icon>
   </div>
    <input   type="text" class="w-full  border-none outline-none" placeholder="search product ..." [value]="search" (change)="onSearchChange($event)"/>
  </div>
</div>
<div class="w-full flex ">
  <div class="w-3/12 h-auto z-0 bg-white p-4 shadow-lg ">
    <div class="mt-12">
    
      <!-- Most Rated Filter -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Most Rated</mat-label>
        <mat-select [(value)]="rating" (selectionChange)="fetchBooks()">
          <mat-option value="">All</mat-option>
          <mat-option value="3.9">4 Stars & Up</mat-option>
          <mat-option value="2.9">3 Stars & Up</mat-option>
          <mat-option value="1.9">2 Stars & Up</mat-option>
          <mat-option value="0.9">1 Stars & Up</mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Bestseller Filter -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Bestseller</mat-label>
        <mat-select [(value)]="bestseller">
          <mat-option value="all">All</mat-option>
          <mat-option value="top10">Top 10</mat-option>
          <mat-option value="top50">Top 50</mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Price Slider -->
      <div class=" w-full">
        <mat-label class="text-blue-600">Price Range</mat-label>
      
        <div class="flex w-80  justify-between text-gray-600">
          <mat-slider min="100" max="2000" class="w-80" discrete="true"
          
          >
            <input [(value)]="minPrice"   matSliderStartThumb>
            <input [(value)]="maxPrice" matSliderEndThumb>
          </mat-slider>
        </div>
      </div>
    
      <!-- Apply Filters Button -->
      <button  class="w-full bg-blue-500 px-2  py-3 rounded-lg text-white shadow-md hover:bg-blue-600" (click)="fetchBooks()">Apply Filters</button>
    </div>
    </div>
 <div class="w-1/12"></div>
  <div class="flex flex-col   w-8/12  ">
  <app-book-card   *ngFor="let book of books | paginate: { itemsPerPage: 5, currentPage: page }" [book]="book" (addToCart)="addToCart(book.id)" (addToWishList)="addToWishList(book.id)"></app-book-card>
  <div class=" w-5/12">
    <mat-paginator [length]="totalElements" [pageSize]="5" (page)="onPageChange($event)" class="mt-4"></mat-paginator>

    </div>
</div>







