<div class="max-w-lg mx-auto bg-white shadow-sm border flex border-gray-200 rounded-lg overflow-hidden my-2">
    <img class="w-1/6 object-contain px-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGLpBIhkp_KTs_j2w9xMJhr6WDTkG3Aef883RT2Wxe8ol5MPqTUqEbI0E4W7LB9k2goFA&usqp=CAU" alt="Book Image">
    <div class="px-6 py-2">
      <div class="font-bold text-xl mb-2">Order ID: {{ order?.orderId}}</div>
      <p class="text-gray-700 text-base">Book Name: {{ order?.bookName }}</p>
      <p class="text-gray-700 text-base">Quantity: {{ order?.quantity }}</p>
      <p class="text-gray-700 text-base">
        Status: 
        <span
       
        >{{ order?.orderStatus }}</span>
      </p>
    </div>

  </div>
  